<%= react_component("ShowTrack", props: {trackName: @track.name, soundcloudId: @track.soundcloud_id  })%>

<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @track.name %>
</p>

<p>
  <strong>Soundcloud:</strong>
  <%= @track.soundcloud_id %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @track.release_date %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %> -->
