<p id="notice"><%= notice %></p>




<div id="outerNavContainer" style="position: relative">
    <div id="nav">
        <div id="navContainer">
            <i class="fas fa-bars"></i>
            <div id="navTitle">
                <a style="color: rgba(45, 51, 221, 0.747)" href="/">Caleb Elias G sounds</a>
                </div>
            <div class="navLink">
                <a href="/kits">Packs</a>
            </div>
            <div class="navLink">
                <a href="/tracks">Tracks</a>
            </div>
            <div class="navLink">
                <a href="/tracks">Sounds</a>
                </div>
            <div class="navLink">Info</div>
           
            <div id="logInSignUpContainer" style="margin-left: 0px;  margin-right: 0px">
                <div class="logInorSignUp" >
                    <a style="color: rgba(45, 51, 221, 0.747)" href="/kits/new"> ADD NEW KIT</a>

                </div>
                <a href="/kits/new"><i class="fas fa-plus-square"></i></a>
              
            </div>
            <div id="signOutContainer"><div class="logInorSignUp">SIGN OUT</div><i class="fas fa-sign-out-alt"></i></div>
          


        </div>
      
    
</div>
<div id="navDropdownOuterContainer"> 
    <div id="mobileLinksContainer">
    <div class="mobileNavLink">
        <div class="mobileNavLinkName">
            Your Packs
        </div>
    </div>
    <div class="mobileNavLink">
        <div class="mobileNavLinkName">
            Beats
        </div>
    </div>
    <div class="mobileNavLink">
        <div class="mobileNavLinkName">
            Tutorials
        </div>
    </div>
    <div class="mobileNavLink">
        <div class="mobileNavLinkName">
            Songs
        </div>
    </div>
    <div class="mobileNavLink">
        <div class="mobileNavLinkName">
            Videos
        </div>
    </div>
    <div class="mobileNavLink">
        <div class="mobileNavLinkName">
            Log in/Sign up
        </div>
    </div>
    </div>
</div>

<div id="section2" style="padding-top: 100px; height: auto;">
    <div id="section2topRow">
        <div id="whatsInside">Kit: <%= @kit.name %></div>
        <div id="whatsInside">Description: <%= @kit.description %></div>
        <div id="whatsInside">Price: <%= @kit.price %></div>
        <div id="whatsInside">Quantity Sold: <%= @kit.quantity_sold  %></div>
    </div>
    
    <table id="samplePackTable">
        <tr class="oddRow headerRow">
           
            <!-- <th class="littlePadding"></th> -->
            <th>Sample Name</th>
            <th>Genre</th>
            <th class="smallPhoneHide">Category</td>
                <th>Edit</th>
                <th class="mobileHide">Delete</th>
        </tr>
   

    
        <% i = 0 %> 
        <% @sounds.each do |sound| %>
        <% if i % 2 != 0 %>
          <tr class="oddRow">
        <% else %>
        <tr>
        <% end %>
            <td><%= sound.soundfile.blob.filename %> </i></td>
            <td></td>
            <td></td>
            <td> <i style="margin-left: 10px" class="far fa-edit"> </i></td>
            <td style="padding-left: 15px"><i class="far fa-trash-alt"></i></td>

          </tr>
          <% i+=1 %>
        <% end %>

     

      













    </table>

    
</div>

<script>
  let edits = document.querySelectorAll(".fa-edit")

  let editSample = (e) => {

    console.log(e.target.parentNode.parentNode.firstElementChild)

  }

  for(let i=0; i<edits.length; i++) {
    edits[i].addEventListener("click", editSample);
  }
 
</script>




