<p id="notice"><%= notice %></p>

<h1>Sounds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type of sound</th>
      <th>Description</th>
      <th>Key</th>
      <th>Tempo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sounds.each do |sound| %>
      <tr>
        <td><%= sound.soundfile.blob.filename %></td>
        <td><%= sound.type_of_sound %></td>
        <td><%= sound.description %></td>
        <td><%= sound.key %></td>
        <td><%= sound.tempo %></td>
        <td><%= link_to 'Show', sound %></td>
        <td><%= link_to 'Edit', edit_sound_path(sound) %></td>
        <td><%= link_to 'Destroy', sound, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sound', new_sound_path %>
